/*CSS reset */
*{
    padding: 0%;
    margin: 0%;
}
/* Added styling to my list, anchor and button */
li, a, button{
    font-family: 'montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #CDD7D6;
    text-decoration: none;
    background-color: #B26E63;
}
/* Added styling to header */
header{
    font-family: 'montserrat',sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #B26E63;
    padding: 50px 20px;
    border-bottom: #d2b48c 10px solid;
    margin-bottom: 10px;
}

.headshot{
    border-radius: 8%;
     text-align: center;
    margin: auto;
    padding: 20px 20px;
}

#project-link { 
    background-color: #d2b48c;
    border: #B26E63 dotted;
}

p{
    text-align: center;
    padding: 20px 20px;
    margin-bottom: 40px;

}

body{
    overflow-x: hidden;
    background-color: #CDD7D6;
}

h1{
    margin-right: auto;
    background-color: #B26E63;
    font-size: 60px;
}

.nav-links{
    list-style: none;
}

ul{
    text-align: center;
}

.nav-links li{
    display: inline-block;
    padding: 0px 20px;
    text-align: center;
    padding-left: 20px;
}

.nav-links li a{
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover{
    color: #000;
}

button{
    padding: 9px 25px;
    background-color:rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    margin-left: 20px;
    padding: 15px;
}
/* Added hover effect to contact me button */
button:hover{
    background-color:rgba(0, 136, 169, 0.5); 
}
/* added display flex to main element */
main{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 1140px; 
    margin: 0 auto;
    justify-content: center;
    font-family: 'montserrat', sans-serif;
    text-align: center;
    color: #000;
}

#about-me {
    margin-top: 15px;
    background-color: #d2b48c;
    border: #B26E63 dotted;
}

/* added styling and display features to section-1 class */
.section-1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: solid #B26E63;
    padding-top: 75px;
    padding-bottom: 75px;
    margin: 100px;
    background-color: #d2b48c;
    transition: all 0.3s ease 0s;
    color: #000;
}
/* created hover state and styled for main project */
.section-1:hover{
    background-color:rgba(0, 136, 169, 1);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    border: dotted rgba(0, 136, 169, 1);
}
/* Created section 2 as a container for smaller projects */
.section-2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
/* created styling for small projects */
.small-projects{
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: solid #B26E63;
    padding: 75px;
    width: 33%;
    transition: 0.3s ease;
    background-color: #d2b48c;
    color: #000;
    margin-top: 25px;
}
/* added hover state to smaller projects */
.small-projects:hover{
    background-color:rgba(0, 136, 169, 1);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    text-align: center;
    border: dotted rgba(0, 136, 169, 1);
}
/* styled footer */
footer{
    margin-top: 25px;
    border-top: #d2b48c 50px;
    font-family: 'montserrat', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #B26E63;
    padding: 50px;
}
footer h2{
    font-family: 'montserrat', sans-serif;
}
#contact-me{
    display: block;
    flex-direction: column;
    font-size: 24px;
    font-family: 'Monserrat', sans-serif;
    text-align: center;
}

.icons{
    height:40px;
    width:40px;
    padding: 10px;
}
/* made accesible for smaller screen sizes */
@media only screen and (max-width:930px){
    header{
        font-size: 30px;
    }
    ul{
display: flex;
flex-wrap: wrap;
flex-direction: column;
    }
}